{% extends 'layout.twig' %}
{% block metaTitleContent %}Test d'embauche{% endblock %}
{% block h1Content %}Test d'embauche{% endblock %}
{% block content %}
<p>blog</p>
    {% for article in articles %}
        <a href="{{ path('blog.article.show', {id: article.id}) }}" >show</a>
        {{ article.content }}
    {% endfor %}
{% endblock %}