{% extends 'layout.twig' %}
{% block metaTitleContent %}Test d'embauche{% endblock %}
{% block h1Content %}Test d'embauche{% endblock %}
{% block content %}
    <h1>dssd</h1>
    {{ form(form) }}
{% endblock %}