<div class="col-md-6 col-md-offset-3 marg2">
    <hr/>
    <div class="row footer">
        <div class="col-md-4">
            <h3 class="text-center">INFO</h3>
        </div>
        <div class="col-md-4">
            <div class="col-center">
                <img src="/img/telephone.png" alt=""/>
            </div>
            <h3 class="text-center">CONTACT</h3>
        </div>
        <div class="col-md-4 footericone">
            <h3 class="text-center">ACCTUALITE</h3>
            <div class="col-center">
                <ul class="nav nav-pills">
                    <li><a href="#"><img src="/img/fb.png" class="img-responsive" alt=""/></a></li>
                    <li><a href="#"><img src="/img/tw.png" class="img-responsive" alt=""/></a></li>
                    <li><a href="#"><img src="/img/in.png" class="img-responsive" alt=""/></a></li>
                    <li><a href="#"><img src="/img/pi.png" class="img-responsive" alt=""/></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>