{% extends 'layout.twig' %}
{% block metaTitleContent %}Home{% endblock %}
{% block h1Content %}Test d'embauche{% endblock %}
{% block content %}
<section id="intro-view">
    <div class="col-md-10 col-md-offset-1">
        <div class="row panelt">
            <div class="col-md-6">
                <img src="/img/photos/accueil/img-1.png" class="img-responsive panel-full-h" alt=""/>
            </div>
            <div class="col-md-3">
                <div class="text-center gray panel-info">
                    <img src="/img/pivoine.png" class="img-responsive" id="fleur" alt=""/>
                    <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip .
                    </article>
                </div>
                <img src="/img/photos/accueil/nightlife-q-c-1200-800-7.jpg" class="img-responsive" alt=""/>
            </div>
            <div class="col-md-3">
                <img src="/img/photos/accueil/ville.png" class="img-responsive panel-h2" alt=""/>
                <img src="/img/photos/accueil/IMG_0121.jpg" class="img-responsive panel-h2" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-center">
                <ul class="nav nav-pills">
                    <li><a href="#"><img src="/img/fb.png" class="img-responsive" alt=""/></a></li>
                    <li><a href="#"><img src="/img/tw.png" class="img-responsive" alt=""/></a></li>
                    <li><a href="#"><img src="/img/in.png" class="img-responsive" alt=""/></a></li>
                    <li><a href="#"><img src="/img/pi.png" class="img-responsive" alt=""/></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="news">
    <div class="col-md-8 col-md-offset-2 news-img">
        <h3 class="text-center">A la une</h3>
        <div class="col-md-3">
            <div class="news-caption"><p>Hello</p></div>
            <a href="#">
                <img src="/img/photos/accueil/fashion-q-c-1200-800-8.jpg" class="img-responsive" alt=""/>
            </a>
        </div>
        <div class="col-md-3">
            <div class="news-caption"><p>Hello</p></div>
            <a href="#">
                <img src="/img/photos/accueil/fashion-q-c-1200-800-9.jpg" class="img-responsive" alt=""/>
            </a>
        </div>
        <div class="col-md-3">
            <div class="news-caption"><p>Hello</p></div>
            <a href="#">
                <img src="/img/photos/accueil/nature-q-c-1200-800-3.jpg" class="img-responsive" alt=""/>
            </a>
        </div>
        <div class="col-md-3">
            <div class="news-caption"><p>Hello</p></div>
            <a href="#">
                <img src="/img/photos/accueil/nightlife-q-c-1200-800-7.jpg" class="img-responsive" alt=""/>
            </a>
        </div>
    </div>
</section>


{% endblock %}