{% extends 'layout.twig' %}
{% set active = 'infopage' %}
{% block metaTitleContent %}Information{% endblock %}
{% block h1Content %}Test d'embauche{% endblock %}
{% block content %}
    <div class="container container-info">
        <div class="row panelt">
            <div class="col-md-4">
                <img src="/img/photos/rea/sports-h-c-1000-1500-4.jpg" class="img-responsive max-height" alt="BouquetRose"/>
            </div>
            <div class="col-md-8 gray panelg">
                <p>Nec vox accusatoris ulla licet subditicii in his
                    malorum quaerebatur acervis ut saltem specie tenus
                    crimina praescriptis legum committerentur, quod aliquotiens
                    fecere principes saevi: sed quicquid Caesaris implacabilitati
                    sedisset, id velut fas iusque perpensum confestim urgebatur impleri.
                </p>
            </div>
        </div>
    </div>
{% endblock %}