{% extends 'layout.twig' %}
{% block metaTitleContent %}Test d'embauche{% endblock %}
{% block h1Content %}Test d'embauche{% endblock %}
{% block content %}
<section id="work">
<div id="myCarousel" class="carousel slide panelt">
                <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="row">
                <div class="col-sm-4"><a href="#x"><img src="/img/photos/rea/abstract-h-c-1000-1500-7.jpg" class="img-responsive"></a>
                </div>
                <div class="col-sm-4"><a href="#x"><img src="/img/photos/rea/animals-q-g-1500-1000-2.jpg" class="img-responsive"></a>
                </div>
                <div class="col-sm-4"><a href="#x"><img src="/img/photos/rea/city-q-c-1500-1000-4.jpg" alt="Image" class="img-responsive"></a>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/item-->
        <div class="item">
            <div class="row">
                <div class="col-sm-4"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                </div>
                <div class="col-sm-4"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                </div>
                <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                </div>
                <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/item-->
    </div>
    <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
    <!--/myCarousel-->
</section>
{% endblock %}