{% extends 'layout.twig' %}
{% set active = 'blog' %}
{% block metaTitleContent %}Test d'embauche{% endblock %}
{% block h1Content %}Test d'embauche{% endblock %}
{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-center">
            <p>Editer une catégorie</p>
            {% embed 'Layout/form_layout.twig' %}
                {% block form %}
                    {{ form_start(form) }}
                    {% form_theme form 'Layout/form_theme.twig' %}
                    {{ form_widget(form) }}
                {% endblock %}
            {% endembed %}
        </div>
    {% endif %}
{% endblock %}