{% extends 'layout.twig' %}
{% block metaTitleContent %}Test d'embauche{% endblock %}
{% block h1Content %}Test d'embauche{% endblock %}
{% block content %}
    <div class="col-center">
        <h1>{{ article.content }}</h1>
        <p>{{ article.content }}</p>
    </div>
{% endblock %}