{% extends 'layout.twig' %}
{% set active = 'blog' %}
{% block metaTitleContent %}Test d'embauche{% endblock %}
{% block h1Content %}Test d'embauche{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-center">
            <h1>Creation Article</h1>
            {% embed 'Layout/form_layout.twig' %}
                {% block form %}
                    {{ form_start(form) }}
                    {% form_theme form 'Layout/form_theme.twig' %}
                    {{ form_widget(form) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}