{% extends 'layout.twig' %}
{% block metaTitleContent %}Test d'embauche{% endblock %}
{% block h1Content %}Test d'embauche{% endblock %}
{% block content %}
    <div class="col-center">
        <h1>Creation Réalisation</h1>
        <form action="" {{ form_enctype(form) }} method="post">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}