{% extends 'layout.twig' %}
{% set active = 'workpage' %}
{% block metaTitleContent %}Test d'embauche{% endblock %}
{% block h1Content %}Test d'embauche{% endblock %}
{% block content %}
    <div class="col-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <a href="{{ path('works.show',{ 'id': work.id }) }}"><img src="/img/works/{{ work.image_path }}" class="img-responsive"></a>
                    <h1>{{ work.title }}</h1>
                    <p>{{ work.content }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}